<div id="dayschedule">
    <div class="row">
        <div class="checkbox">
            <!-- Hour -->
            Hour: @Html.DropDownList("TopicTasks[0].Hour", (IEnumerable<SelectListItem>)ViewBag.HourRange)
        </div>
    </div>
</div>


