<div id="monthschedule">
    <div class="row">
        <div class="checkbox">
            <!-- Day -->
            Day: @Html.DropDownList("TopicTasks[0].Day", (IEnumerable<SelectListItem>)ViewBag.DayRange)

            <!-- Hour -->
            Hour: @Html.DropDownList("TopicTasks[0].Hour", (IEnumerable<SelectListItem>)ViewBag.HourRange)
        </div>
    </div>
</div>


