@{
    ViewBag.Title = "_User";
}

@section scripts
{

}

<div>
    <!-- Role Manage -->
    @Html.Action("_Index", "RoleManage")

    <!-- User Manage -->
    @Html.Action("_Index", "UserManage")
</div>
