<div>
    <div id="userseacher" class="row">
        <div class="col-lg-5">
            <div class="input-group">
                <input id="UserName" type="text" class="form-control" placeholder="Search user ...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" data-href="@Url.Action("FindUser")" onclick=" return doSearchUser(this); ">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div id="usercontent"></div>
</div>
