<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--aliases-->
    <aliases>
      <!--<add alias="reportDbContext" type="ReportMS.Reports.ReadModel.Implementation.ReportReadDbContext, ReportMS.Reports" />-->
    </aliases>
    <!--container-->
    <container>
      <!--mapping-->
      <register type="ReportMS.Domain.Repositories.EntityFramework.RmsDbContext, ReportMS.Domain.Repositories">
        <constructor>
          <param name="nameOrConnectionString" value="rms" />
        </constructor>
      </register>
      <!-- Caching -->
      <register type="Gear.Infrastructure.Caching.ICacheProvider, Gear.Infrastructure" mapTo="Gear.Infrastructure.Caching.EntLibCacheProvider, Gear.Infrastructure.Caching" />
      
      <!-- Storage -->
      <register type="Gear.Infrastructure.Storage.IStorageProvider, Gear.Infrastructure" mapTo="Gear.Infrastructure.Storage.SqlServer.SqlServerStorage, Gear.Infrastructure.Storage" />
      
      <!-- Infrastructure -->
      <register type="Gear.Infrastructure.Repositories.IRepositoryContext, Gear.Infrastructure" mapTo="Gear.Infrastructure.Repository.EntityFramework.EntityFrameworkRepositoryContext, Gear.Infrastructure.Repository" />
      <register type="Gear.Infrastructure.Repository.EntityFramework.IEntityFrameworkRepositoryContext, Gear.Infrastructure.Repository" mapTo="Gear.Infrastructure.Repository.EntityFramework.EntityFrameworkRepositoryContext, Gear.Infrastructure.Repository" />
      <register type="Gear.Infrastructure.Repository.EntityFramework.IDbContext, Gear.Infrastructure.Repository" mapTo="ReportMS.Domain.Repositories.EntityFramework.RmsDbContext, ReportMS.Domain.Repositories" />

      <!-- Event Aggregator -->
      <register type="Gear.Infrastructure.Events.IEventAggregator, Gear.Infrastructure" mapTo="Gear.Infrastructure.Events.EventAggregator, Gear.Infrastructure" />
      
      <!-- Event Bus -->
      <register type="Gear.Infrastructure.Bus.IEventBus, Gear.Infrastructure" mapTo="Gear.Infrastructure.Bus.EventBus, Gear.Infrastructure" />
      
      <!-- Repository -->
      <register type="ReportMS.Domain.Repositories.ITenantRepository, ReportMS.Domain" mapTo="ReportMS.Domain.Repositories.EntityFramework.Repository.TenantRepository, ReportMS.Domain.Repositories" />
      <register type="ReportMS.Domain.Repositories.IUserRepository, ReportMS.Domain" mapTo="ReportMS.Domain.Repositories.EntityFramework.Repository.UserRepository, ReportMS.Domain.Repositories" />
      <register type="ReportMS.Domain.Repositories.IRoleRepository, ReportMS.Domain" mapTo="ReportMS.Domain.Repositories.EntityFramework.Repository.RoleRepository, ReportMS.Domain.Repositories" />
      <register type="ReportMS.Domain.Repositories.IActionRepository, ReportMS.Domain" mapTo="ReportMS.Domain.Repositories.EntityFramework.Repository.ActionRepository, ReportMS.Domain.Repositories" />
      <register type="ReportMS.Domain.Repositories.IMenuRepository, ReportMS.Domain" mapTo="ReportMS.Domain.Repositories.EntityFramework.Repository.MenuRepository, ReportMS.Domain.Repositories" />
      <register type="ReportMS.Domain.Repositories.IUserRoleRepository, ReportMS.Domain" mapTo="ReportMS.Domain.Repositories.EntityFramework.Repository.UserRoleRepository, ReportMS.Domain.Repositories" />
      <register type="ReportMS.Domain.Repositories.IMenuRoleRepository, ReportMS.Domain" mapTo="ReportMS.Domain.Repositories.EntityFramework.Repository.MenuRoleRepository, ReportMS.Domain.Repositories" />
      <register type="ReportMS.Domain.Repositories.IActionRoleRepository, ReportMS.Domain" mapTo="ReportMS.Domain.Repositories.EntityFramework.Repository.ActionRoleRepository, ReportMS.Domain.Repositories" />

      <register type="ReportMS.Domain.Repositories.IReportRepository, ReportMS.Domain" mapTo="ReportMS.Domain.Repositories.EntityFramework.Repository.ReportRepository, ReportMS.Domain.Repositories" />
      <register type="ReportMS.Domain.Repositories.IReportGroupRepository, ReportMS.Domain" mapTo="ReportMS.Domain.Repositories.EntityFramework.Repository.ReportGroupRepository, ReportMS.Domain.Repositories" />
      <register type="ReportMS.Domain.Repositories.IReportGroupItemRepository, ReportMS.Domain" mapTo="ReportMS.Domain.Repositories.EntityFramework.Repository.ReportGroupItemRepository, ReportMS.Domain.Repositories" />
      <register type="ReportMS.Domain.Repositories.IReportGroupRoleRepository, ReportMS.Domain" mapTo="ReportMS.Domain.Repositories.EntityFramework.Repository.ReportGroupRoleRepository, ReportMS.Domain.Repositories" />

      <!-- Domain Services -->

      <!-- Event Handlers -->
      
      <!-- Application Services -->
      <register type="ReportMS.ServiceContracts.ITenantService, ReportMS.ServiceContracts" mapTo="ReportMS.Application.Services.TenantService, ReportMS.Application" />
      <register type="ReportMS.ServiceContracts.IUserService, ReportMS.ServiceContracts" mapTo="ReportMS.Application.Services.UserService, ReportMS.Application" />
      <register type="ReportMS.ServiceContracts.IRoleService, ReportMS.ServiceContracts" mapTo="ReportMS.Application.Services.RoleService, ReportMS.Application" />
      
      <!-- Query Services -->
      <register type="ReportMS.ServiceContracts.IReportQueryService, ReportMS.ServiceContracts" mapTo="ReportMS.Reports.Services.ReportQueryServiceContract, ReportMS.Reports" />
      
      <!-- Module Report -->
      <register type="ReportMS.Reports.Dao.IDataDao, ReportMS.Reports" mapTo="ReportMS.Reports.Dao.DataDao, ReportMS.Reports" />
      <register type="ReportMS.Reports.Managers.IReportRead, ReportMS.Reports" mapTo="ReportMS.Reports.Managers.ReportReadManager, ReportMS.Reports" />
      
    </container>
  </unity>
</configuration>