body {
    font-size: 13px;
    overflow-x: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/*===== Custom Css =====*/

/* ibox */
.ibox {
    clear: both;
    margin-bottom: 5px;
    margin-top: 0;
    padding: 0;
}
.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    /*border-style: solid solid none;*/
    border-width: 4px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 5px 5px 7px; /*padding: 14px 15px 7px;*/
    /*min-height: 48px;*/
}
.ibox-tools {
    display: inline-block;
    float: right;
    margin-top: 0;
    position: relative;
    padding: 0 0 3px 0;
}
.rboor {
    margin-top: -5px;
}
.ibox-content {
    clear: both;
    background-color: #ffffff;
    color: inherit;
    padding: 5px 5px 5px 5px;  /*padding: 15px 20px 20px 20px;*/
    border-color: #e7eaec;
    /*border-style: solid solid none;*/
    border-width: 1px ;
}
