<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="application" value="Gear.Infrastructure.Application.App, Gear.Infrastructure"/>
    <add key="container" value="Gear.Infrastructure.Container.Unity.UnityObjectContainer, Gear.Infrastructure.Container"/>
  </appSettings>
  <connectionStrings>
    <add name="report" connectionString="Data Source=A-100012118\MSSQLSERVER2014;Initial Catalog=RMS;Integrated Security=true;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="reportDebug" connectionString="Data Source=A-100012118\MSSQLSERVER2014;Initial Catalog=RMS;Integrated Security=true;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="rms" connectionString="Data Source=172.21.161.108;Initial Catalog=RMS;User Id=RmSa;Password=rnn$a;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="rmsDebug" connectionString="Data Source=172.21.161.108;Initial Catalog=RMS;User Id=RmSa;Password=rnn$a;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>