<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="application" value="Gear.Infrastructure.Application.App, Gear.Infrastructure" />
    <add key="container" value="Gear.Infrastructure.Container.Unity.UnityObjectContainer, Gear.Infrastructure.Container" />
  </appSettings>
  <connectionStrings>
   
  </connectionStrings>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="default" cacheMemoryLimitMegabytes="0" physicalMemoryLimitPercentage="0" pollingInterval="00:02:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
