<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="report" connectionString="Data Source=A-100012118\MSSQLSERVER2014;Initial Catalog=RMS;Integrated Security=true;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="reportDebug" connectionString="Data Source=A-100012118\MSSQLSERVER2014;Initial Catalog=RMS;Integrated Security=true;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>