<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--container-->
    <container>
      <!--mapping-->
      <!-- Storage -->
      <register type="Gear.Infrastructure.Storage.IStorageProvider, Gear.Infrastructure" mapTo="Gear.Infrastructure.Storage.SqlServer.SqlServerStorage, Gear.Infrastructure.Storage" />

      <!-- Query Services -->
      <register type="ReportMS.ServiceContracts.IReportQueryService, ReportMS.ServiceContracts" mapTo="ReportMS.Reports.Services.ReportQueryService, ReportMS.Reports" />

      <!-- Module Report -->
      <register type="ReportMS.Reports.Dao.IDataDao, ReportMS.Reports" mapTo="ReportMS.Reports.Dao.DataDao, ReportMS.Reports" />
      <register type="ReportMS.Reports.Managers.IReportRead, ReportMS.Reports" mapTo="ReportMS.Reports.Managers.ReportReadManager, ReportMS.Reports" />
    </container>
  </unity>
</configuration>