<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--container-->
    <container>
      <!-- Caching -->
      <register type="Gear.Infrastructure.Caching.ICacheProvider, Gear.Infrastructure" mapTo="Gear.Infrastructure.Caching.AspNetCacheProvider, Gear.Infrastructure.Caching" />
    </container>
  </unity>
</configuration>