@using ReportMS.DataTransferObjects.Dtos
@model IEnumerable<ReportProfileDto>

@{
    ViewBag.Title = "Report Profile Manage";
}

@section scripts {
    <script>
        $(document).on("click", "table td[data-details-control=true]", function () {
            var tr = $(this).closest("tr");
            var len = tr.children().length;
            if ($(this).hasClass("details-control-open")) {
                var td = $("<td colspan=" + len + "></td>");
                var url = $(this).attr("data-href");
                td.load(url);
                var row = $("<tr></tr>").append(td);
                tr.after(row);
                $(this).removeClass("details-control-open").addClass("details-control-close");
            } else {
                tr.next().remove();
                $(this).removeClass("details-control-close").addClass("details-control-open");
            }
        });

        function createProfileSuccess(data) {
            if (data.status === "success") {
                reloadReportProfile();
            } else {
                alert(data.message);
            }
        }

        function modifyReportProfileSuccess(data) {
            if (data.status === "success") {
                reloadReportProfile();
            } else {
                alert(data.message);
            }
        }

        function deleteReportProfile(element) {
            if (!confirm("Do you want to delete it ?")) {
                return false;
            }

            var url = $(element).attr("data-href");
            var id = $(element).attr("data-repprofile-id");
            $.post(url, { profileId: id }, function(data) {
                if (data.status === "success") {
                    $(element).closest("tbody").remove();
                } else {
                    alert(data.message);
                }
            });
            return true;
        }

        function reloadReportProfile() {
            var url = "@Url.Action("Index")" + "#reportprofile table";
            $("#reportprofile").load(url);
        }
    </script>
}

@Html.Navigate("Manage", "Report Profile")

@Html.Partial("_Index", Model)