<p class="clear"></p>
<div class="footer-bg">
    <div class="footer">
        <p class="Copyright">Copyright © 1983-@(DateTime.Now.Year.ToString()) Advantech Co., Ltd. All Rights Reserved</p>
        <p class="footer-nav"> <span><a href="http://www.advantech.com.tw/sitemap.asp">Site Map</a></span> <span> | </span> <span><a href="http://www.advantech.com.tw/privacy.asp">Privacy Policy</a></span> </p>
    </div>
</div>