<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="gearEmail" type="Gear.Infrastructure.Configurations.EmailClientSectionConfiguration, Gear.Infrastructure"/>
    <section name="gearAdmin" type="Gear.Infrastructure.Configurations.SystemAdminSectionConfiguration, Gear.Infrastructure"/>
    <!--<section name="gearCache" type="Gear.Infrastructure.Configurations.CacheSectionConfiguration, Gear.Infrastructure"/>-->
  </configSections>
  <gearEmail>
    <emailClient host="172.20.0.76" sender="Gear@advantech.com.cn" displayName="GearMailTest"  />
  </gearEmail>
  <gearAdmin>
    <systemAdmin administrator="gang.yang@advantech.com.cn" />
  </gearAdmin>
  <gearCache>
    <cache absoluteExpiration="13" />
  </gearCache>
</configuration>