<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="gearEmail" type="Gear.Infrastructure.Configurations.EmailClientSectionConfiguration, Gear.Infrastructure"/>
    <section name="gearAdmin" type="Gear.Infrastructure.Configurations.SystemAdminSectionConfiguration, Gear.Infrastructure"/>
    <section name="gearCache" type="Gear.Infrastructure.Configurations.CacheSectionConfiguration, Gear.Infrastructure"/>
  </configSections>
  <gearEmail>
    <emailClient host="" sender="" displayName=""/>
  </gearEmail>
  <gearAdmin>
    <systemAdmin administrator="gang.yang@advantech.com.cn"/>
  </gearAdmin>
  <gearCache>
    <cache absoluteExpiration="13"/>
  </gearCache>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
