<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MembershipWebserviceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://member.advantech.com/MembershipWebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="MembershipWebserviceSoap"
                contract="MembershipWebService.MembershipWebserviceSoap" name="MembershipWebserviceSoap" />
        </client>
    </system.serviceModel>
</configuration>